
<% if false %>
<%= @tests %>
<%end%>

  <% @photos.each do |photo| %>
  <div class="thumbnail col-sm-2">
    <%= image_tag photo.photo.url, class: "img-responsive", "data-toggle"=>"modal", "data-target"=>"#modal-#{photo.id}" %>
    <%=  photo.photo.url %>
  </div>


  <div class="modal fade" id="modal-<%=photo.id%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render partial: 'details', locals: {photo: photo} %>

        <b>File Size:</b> <%= photo.size %>
          <br />
        <b>Shutter Speed:</b> <%= photo.shutter %>
          <br />


        <b>Aperture:</b> <%= photo.aperture_value %>
          <br />




      <b>Focal Length:</b> <%= photo.focal_length_in35mm_format %>
      <br />

        <b>Make:</b> <%= photo.make %>
          <br />
        <b>Model:</b> <%= photo.model %>
          <br />
        <b>ISO:</b> <%= photo.iso %>
          <br />



  </div>
    </div>
  </div>


  <% end %>
