
<% if false %>
<%= @tests %>
<%end%>

  <% @photos.each do |photo| %>
  <div class="thumbnail col-sm-2">
    <%= image_tag photo.photo.url, class: "img-responsive", "data-toggle"=>"modal", "data-target"=>"#modal-#{photo.id}" %>
    <%=  photo.photo.url %>
  </div>


  <div class="modal fade" id="modal-<%=photo.id%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render partial: 'details', locals: {photo: photo} %>

        <b>File Size:</b> <%= @test.to_hash[:file_size] %>

        <br />

        <!-- <%= @test.to_hash.inspect %> -->

        <b>Shutter Speed:</b> <%= @test.to_hash[:shutter_speed_value] %>
          <br />
        <b>Make:</b> <%= @test.to_hash[:make] %>
          <br />

        <b>Lense Model:</b> <%= @test.to_hash[:lens_model] %>

        <br />

        <b>Focal Length:</b> <%= @test.to_hash[:focal_length] %>

        <br />

        <b>Apeture Value:</b> <%= @test.to_hash[:aperture_value] %>





        <% if false %>
        <%= photo.to_hash %>
        <%end%>

  </div>
    </div>
  </div>


  <% end %>
