
<% if false %>
<%= @tests %>
<%end%>

  <% @photos.each do |photo| %>
  <div class="thumbnail col-sm-2">
    <%= image_tag photo.photo.url, class: "img-responsive", "data-toggle"=>"modal", "data-target"=>"#modal-#{photo.id}" %>
    <%=  photo.photo.url %>

  </div>


  <div class="modal fade" id="modal-<%=photo.id%>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <%= render partial: 'details', locals: {photo: photo} %>
        <%= @test.to_hash[:file_size] %>
        <!-- <%= @test.to_hash.inspect %> -->
        <%= @test.to_hash[:shutter_speed_value] %>
        <%= @test.to_hash[:make] %>
        <%= @test.to_hash[:lens_model] %>
        <%= @test.to_hash[:title] %>
        <%= @test.to_hash[:title] %>





        <% if false %>
        <%= photo.to_hash %>
        <%end%>

  </div>
    </div>
  </div>


  <% end %>
