

<div class="container">
<h1>Upload New Photo</h1>
<p>Upload a new photo to analyze its data.</p>

<%= simple_form_for @photo do |f| %>
<%= f.input :name %>
<%= f.input :photo %>
<%= f.association :user, :as => :hidden %>
<%= f.submit "Analyze Photo",class: "btn btn-lg btn-primary"%>
<% end %>

<br />
</div>
